astunparse==1.6.3
bbox_visualizer==0.2.1
captum==0.8.0
et-xmlfile==1.1.0
executing==2.2.0
fsspec==2025.3.2
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.44
joblib==1.5.0
matplotlib==3.10.0
mkl-service==2.4.0
numpy==1.23.5
opencv-python-headless==4.11.0.86
ply==3.11
protobuf==3.19.6
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==11.0.0
pyasn1-modules==0.2.8
PyQt5==5.15.10
scikit-learn==1.6.1
seaborn==0.13.2
smmap==5.0.2
sympy==1.13.1
tensorflow==2.10.0
torch==2.5.1
torchaudio==2.5.1
torchvision==0.20.1
ultralytics==8.3.121
ultralytics-thop==2.0.14
wcwidth==0.2.13
